* {
    margin: 0;
}

body {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 14pt;
    background: white;
}

canvas {
    pointer-events: none;
    position: absolute;
    z-index: -1;
}

#container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
}

#logo {
    background-image: url("/img/tetra_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 26px;
    transition: filter 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

#links {
    > a {
        display: table;
        color: #ff419d;
        font-weight: 500;
        text-decoration: none;
        transition: filter 0.6s cubic-bezier(0.13, 0.62, 0, 0.97), letter-spacing 0.6s cubic-bezier(0.13, 0.62, 0, 0.97);

        &:hover {
            letter-spacing: 1px;
        }

        &:active {
            letter-spacing: 2px;
        }
    }
}

#nowplaying {
    opacity: 0;
    margin-left: 5px;
    color: #ddd;
    font-size: 10pt;
    transition: opacity 1s;

    &::before {
        content: "♫";
        margin-right: 3px;
        color: #bbb;
    }

    &.visible {
        opacity: 1;
    }
}

@media only screen and (pointer: coarse) and (hover: none) {
    #container {
        zoom: 2;
    }
}